/credit_fraud
/信用卡冒用/data
/信用卡冒用/31_資料欄位說明.xlsx

/信用卡冒用/tests/__pycache__
/信用卡冒用/tests/.ipynb_checkpoints
/信用卡冒用/model/config/__pycache__
/信用卡冒用/model/processing
/信用卡冒用/__pycache__
/信用卡冒用/model/__pycache__
/信用卡冒用/model/.ipynb_checkpoints/
/信用卡冒用/model/config/.ipynb_checkpoints/
/信用卡冒用/model/config/__pycache__/
/信用卡冒用/model/processing/.ipynb_checkpoints/
/信用卡冒用/model/processing/__pycache__/
/信用卡冒用/model/train_models/
submissions/
trained_models/.ipynb_checkpoints/
trained_models/logistic/.ipynb_checkpoints/
tests/.ipynb_checkpoints/
tests/__pycache__/

/MLFlow
/mlenv
/mlruns
/mlartifacts
/信用卡冒用/mlruns

.ipynb_checkpoints/

practice/
